.country {
    padding: 50px;
}

.btn-light {
    margin-bottom: 30px;
    display: inline-block;
}

.country article .country-details div {
    margin: 20px 0;
}

.country article .country-details h2 {
    font-weight: 800;
    font-size: 30px;

}

.country article .country-details h5 {
    font-weight: 800;
    margin: 10px 0;
    font-size: 25px;
}

.country article .country-details h5 span{
    font-weight: 800;
    margin: 10px 0;
}